Django>=4.2,<5.0
djangorestframework
gunicorn
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
django-cors-headers
python-dotenv
requests
psycopg2-binary
dj_database_url  